/* hero section */
.hero{
    width: 100%;
    height: 93vh;
    display: flex;
}
/* .stary-bg{
    background: url(stary-bg.jpg);
} */

.hero__item{
    flex-basis: 50%;
    flex-grow: 1;
    height: 100%;
    /* border: indigo 1px solid; */
}

.outer-window{
    background: rgba(255, 255, 255, 0.671);
    height: 500px;
    width:480px;
    border-radius: 50%;
    transition: box-shadow .4s ease-in-out .1s;
    /* img shadow */
    box-shadow:
        0.8px 1.4px 3.1px rgba(0, 0, 0, 0.019),
        2.7px 4.6px 7px rgba(0, 0, 0, 0.028),
        5.8px 9.7px 12.1px rgba(0, 0, 0, 0.035),
        10.1px 16.9px 19.1px rgba(0, 0, 0, 0.042);
}
.outer-window:hover{
    box-shadow:
        0.8px 1.4px 3.1px rgba(0, 0, 0, 0.019),
        2.7px 4.6px 7px rgba(0, 0, 0, 0.028),
        5.8px 9.7px 12.1px rgba(0, 0, 0, 0.035),
        10.1px 16.9px 19.1px rgba(0, 0, 0, 0.042),
        15.9px 26.6px 29.3px rgba(0, 0, 0, 0.048),
        23.5px 39.4px 45.5px rgba(0, 0, 0, 0.054),
        33.7px 56.6px 75.1px rgba(0, 0, 0, 0.063),
        50px 84px 149px rgba(0, 0, 0, 0.08);
}
.hero__item__img{
    width: 90%;
    border-radius: 50%;
    border: white 1rem solid;
}
.hero__item:nth-of-type(1){
    align-items: flex-start;
}
.hero__item__title{
    font-size: 5.5rem;
    letter-spacing: 4px;
}
.hero__item__title > span{
    color: rgb(139, 230, 78);
    text-shadow: 5px 5px 0px rgb(221, 58, 243);
}
.hero__item__p{
    font-size: 1.5rem;
}
.hero__item__p__span{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(105, 214, 33);
    text-shadow: 3px 3px 0px rgb(221, 58, 243);
}
.comrade{
    font-size: 1.8rem;
    font-weight: 700;
    color: rgba(243, 53, 53, 0.876);
    text-shadow: 3px 3px 0px rgb(114, 16, 128);
}
