/* hero section */
.hero{
    width: 100%;
    height: 93vh;
    display: flex;
}
/* .stary-bg{
    background: url(stary-bg.jpg);
} */

.hero__item{
    flex-basis: 50%;
    flex-grow: 1;
    height: 100%;
    /* border: indigo 1px solid; */
}

.outer-window{
    background: rgba(255, 255, 255, 0.671);
    height: 500px;
    width:480px;
    border-radius: 50%;
}
.hero__item__img{
    width: 90%;
    border-radius: 50%;
    border: white 1rem solid;
}
.hero__item:nth-of-type(1){
    align-items: flex-start;
}
.hero__item__title{
    font-size: 5.5rem;
    letter-spacing: 4px;
}
.hero__item__title > span{
    color: rgb(139, 230, 78);
    text-shadow: 5px 5px 0px rgb(221, 58, 243);
}
.hero__item__p{
    font-size: 1.5rem;
}
.hero__item__p__span{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(105, 214, 33);
    text-shadow: 3px 3px 0px rgb(221, 58, 243);
}
.comrade{
    font-size: 1.8rem;
    font-weight: 700;
    color: rgba(243, 53, 53, 0.876);
    text-shadow: 3px 3px 0px rgb(114, 16, 128);
}
